* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    >video {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .main {
        width: 1250px;
        height: 860px;
        /* border: 1px solid red; */
        margin: 40px auto;
        backdrop-filter: blur(14px);
        /* background-color: rgba(0, 0, 0, 0.29); */
        background-color: rgba(16 18 27 / 40%);
        border-radius: 14px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

        .header {
            width: 100%;
            height: 60px;
            display: flex;
            /* border: 1px solid red; */
            border-bottom: 1px solid rgb(113 119 144 / 78%);

            >div {
                &:nth-of-type(1) {
                    width: 240px;
                    padding-left: 30px;
                    /* border: 1px solid blue; */
                    display: flex;
                    align-items: center;

                    >span {
                        width: 15px;
                        height: 15px;
                        display: flex;
                        border-radius: 50%;
                        margin: 4px;
                        cursor: pointer;

                        &:nth-of-type(1) {
                            background-color: #f96057;
                        }

                        &:nth-of-type(2) {
                            background-color: #f8ce52;
                        }

                        &:nth-of-type(3) {
                            background-color: #5fcf65;
                        }
                    }
                }

                &:nth-of-type(2) {
                    width: 470px;

                    /* border: 1px solid peru; */
                    >ul {
                        width: 100%;
                        height: 100%;
                        /* border: 1px solid rgb(109, 65, 109); */
                        display: flex;
                        align-items: center;

                        >li {
                            /* border: 1px solid aqua; */
                            height: 100%;
                            display: flex;
                            flex-grow: 1;

                            &:nth-of-type(1) {
                                >a {
                                    color: #f9fafb;
                                    border-bottom: 1px solid #f9fafb;
                                }
                            }

                            >a {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 15px;
                                font-weight: 500;
                                /* color: #f9fafb; */
                                color: rgb(113 119 144 / 78%);
                                transition: 0.3s;

                                /* background-color: aqua; */
                                &:hover {
                                    color: #f9fafb;
                                    border-bottom: 1px solid #f9fafb;
                                }

                            }
                        }
                    }
                }

                &:nth-of-type(3) {
                    width: 335px;
                    height: 40px;
                    display: flex;
                    margin-top: 10px;
                    padding-left: 14px;
                    border-radius: 4px;

                    /* border: 1px solid rgb(255, 0, 128); */
                    >input {
                        width: 100%;
                        height: 100%;
                        background-color: #14162b;
                        border: none;
                        border-radius: 4px;
                        font-size: 15px;
                        padding: 0 20px 0 40px;
                        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
                        background-size: 14px;
                        background-repeat: no-repeat;
                        background-position: 16px 48%;
                        color: #f9fafb;
                    }
                }

                &:nth-of-type(4) {
                    width: 180px;
                    height: 32px;
                    /* border: 1px solid peru; */
                    margin-top: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;

                    >span {
                        color: white;
                        font-size: 28px;
                        cursor: pointer;

                        &:first-of-type {
                            position: relative;

                            &::after {
                                content: '3';
                                display: flex;
                                width: 13px;
                                height: 13px;
                                font-size: 11px;
                                border-radius: 50%;
                                align-items: center;
                                justify-content: center;
                                background-color: #3a6df0;
                                position: absolute;
                                top: 7px;
                                left: 10px;

                            }
                        }
                    }

                    >img {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        object-fit: cover;
                        object-position: center;
                        border: 2px solid #f9fafb;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        flex-grow: 1;
        /* border: 1px solid red; */
        .side{
            width: 240px;
            display: flex;
            padding: 0 26px 26px 26px;
            /* border: 1px solid pink; */
            border-right: 1px solid rgb(113 119 144 / 78%);
            ul{
                width: 100%;
                height: 100%;
                /* border: 1px solid blue; */
                >li{
                    margin-bottom: 14px;
                    margin-top: 20px;
                    color: rgb(113 119 144 / 78%);
                    font-size: 15px;
                    line-height: 38px;
                    >ul{
                        display: flex;
                        flex-direction: column;
                        >li{
                            width: 100%;
                            height: 38px;
                            margin: 0;
                            padding-left: 10px;
                            border-radius: 6px;
                            transition: 0.3s;
                            /* border: 1px solid peru; */
                            &:hover{
                                background-color: rgba(12 15 25 / 30%);
                            }
                            >a{
                                color: #f9fafb;
                                display: flex;
                                line-height: 38px;
                                width: 100%;
                                border-radius: 6px;
                            }
                        }
                    }
                }
            }
        }
        .main-content{
            display: flex;
            flex-direction: column;
            /* border: 1px solid hotpink; */
            width: 100%;
            .main-header{
                width: 100%;
                height: 58px;
                /* border: 1px solid lawngreen; */
                border-bottom: 1px solid rgb(113 119 144 / 78%);
                display: flex;
                >div{
                    font-size: 15px;
                    /* border: 1px solid magenta; */
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #f9fafb;
                    padding: 0 30px;
                    cursor: pointer;
                    font-weight: 540;
                }
                >ul{
                    display: flex;
                    margin-left: 150px;
                    >li{
                        /* border: 1px solid forestgreen; */
                        display: flex;
                        height: 100%;
                        &:nth-of-type(1){
                            >a{
                                color: #f9fafb;
                                border-bottom: 1px solid #f9fafb;
                            }
                        }
                        >a{
                            width: 100%;
                            height: 100%;
                            padding: 0 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            /* background-color: #fff; */
                            color: rgb(113 119 144 / 78%);
                            font-size: 15px;
                            font-weight: 540;
                            transition: 0.3s;
                            &:hover{
                                border-bottom: 1px solid #f9fafb;
                                color: #f9fafb;
                            }
                        }
                    }
                }
            }
            .content-wrapper{
                display: flex;
                flex-direction: column;
                padding: 20px 40px;
                background-color: rgba(16 18 27 / 40%);
                height: 100%;
                >div{
                    display: flex;
                    /* border: 1px solid maroon; */
                    &:nth-of-type(1){
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;
                        background-image: url(https://www.transparenttextures.com/patterns/cubes.png), linear-gradient(to right top, #cf4af3, #e73bd7, #f631bc, #fd31a2, #ff3a8b, #ff4b78, #ff5e68, #ff705c, #ff8c51, #ffaa49, #ffc848, #ffe652);
                        border-radius: 14px;
                        padding: 20px 40px;
                        >div{
                            width: 350px;
                            position: relative;
                            >img{
                                width: 28px;
                                height: 28px;
                                margin-right: 14px;
                                object-fit: cover;
                                border-radius: 6px;
                            }
                            >h3{
                                display: inline;
                                position: absolute;
                                top: 5px;
                                left: 38px;
                                color: #f9fafb;
                            }
                            >p{
                                margin-top: 16px;
                                font-size: 14px;
                                color: #ebecec;
                                line-height: 1.7em;
                            }
                            >div{
                                background-color: #3a6df0;
                                padding: 8px 26px;
                                color: #fff;
                                border-radius: 20px;
                                margin-top: 16px;
                                transition: 0.3s;
                                width: fit-content;
                                cursor: pointer;
                                &:hover{
                                    background-color: #1e59f1;
                                }
                            }
                        }
                        >img{
                            width: 186px;
                            object-fit: cover;
                            margin-top: -25px;
                        }
                    }
                    &:nth-of-type(2){
                        display: flex;
                        flex-direction: column;
                        margin-top: 30px;
                        >div{
                            color: #999ba5;
                            margin-bottom: 14px;
                        }
                        >ul{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: 100%;
                            justify-content: space-around;
                            background-color: rgb(146 151 179 / 13%);
                            margin: 0;
                            padding-left: 0;
                            border-radius: 14px;
                            border: 1px solid rgba(16 18 27 / 40%);
                            cursor: pointer;
                            >li{
                                padding: 10px 18px;
                                display: flex;
                                align-items: center;
                                font-size: 16px;
                                width: 100%;
                                height: 100%;
                                transition: 0.3s;
                                border-bottom: 1px solid rgb(113 119 144 / 78%);
                                &:hover{
                                    background-color: rgba(16 18 27 / 40%);
                                }
                                &:nth-of-type(1){
                                    border-radius: 14px 14px 0 0;
                                }
                                &:nth-of-type(3){
                                    border: none;
                                    border-radius: 0 0 14px 14px;
                                }
                                >img{
                                    width: 28px;
                                    height: 28px;
                                    border-radius: 6px;
                                    object-fit: cover;
                                    object-position: center;
                                    margin-right: 16px;
                                }
                                >div{
                                    width: 150px;
                                    font-size: 17px;
                                    display: flex;
                                    align-items: center;
                                    &:nth-of-type(1){
                                        color: #f9fafb;
                                    }
                                    &:nth-of-type(2){
                                        color: rgb(249 250 251 / 55%);
                                        border: 1px solid rgb(249 250 251 / 55%);
                                        padding: 6px 24px;
                                        border-radius: 20px;
                                        width: fit-content;
                                        margin-left: 235px;
                                        position: relative;
                                        &::after{
                                            content: '•••';
                                            font-size: 20px;
                                            position: absolute;
                                            color: rgb(249 250 251 / 55%);
                                            right: -40px;
                                            top: 5px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                                >span{
                                    width: 140px;
                                    font-size: 15px;
                                    position: relative;
                                    margin-left: 205px;
                                    color: #f9fafb;
                                    &::after{
                                        content: '';
                                        width: 6px;
                                        height: 6px;
                                        border-radius: 50%;
                                        position: absolute;
                                        top: 5px;
                                        left: -15px;
                                        background-color: #3bf083;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-of-type(3){
                        display: flex;
                        flex-direction: column;
                        margin-top: 30px;
                        /* border: 1px solid deeppink; */
                        >div{
                            display: flex;
                            &:nth-of-type(1){
                                color: #999ba5;
                                margin-bottom: 14px;
                            }
                            &:nth-of-type(2){
                                flex-wrap: wrap;
                                justify-content: space-between;
                                align-items: center;
                                /* border: 1px solid chartreuse; */
                                padding-top: 10px;
                                >div{
                                    display: flex;
                                    flex-direction: column;
                                    width: 300px;
                                    border: 1px solid rgba(16 18 27 / 40%);
                                    border-radius: 14px;
                                    padding: 20px;
                                    cursor: pointer;
                                    background-color: rgb(146 151 179 / 13%);
                                    position: relative;
                                    transition: 0.3s;
                                    &:hover{
                                        transform: scale(1.02);
                                        background-color: rgba(16 18 27 / 40%);
                                    }
                                    >img{
                                        width: 30px;
                                        height: 30px;
                                        border-radius: 6px;
                                        object-fit: cover;
                                        object-position: center;
                                        margin-right: 12px;
                                    }
                                    >h4{
                                        display: inline;
                                        color: #ebecec;
                                        position: absolute;
                                        left: 65px;
                                        top: 25px;
                                    }
                                    >p{
                                        font-size: 14px;
                                        color: #ebecec;
                                        font-weight: 400;
                                        line-height: 1.6em;
                                        margin-top: 20px;
                                        padding-bottom: 20px;
                                        border-bottom: 1px solid rgba(113 119 144 / 25%);
                                    }
                                    >div{
                                        padding: 6px 24px;
                                        margin-top: 16px;
                                        margin-left: 50%;
                                        color: #fff;
                                        background-color: #3a6df0;
                                        border-radius: 20px;
                                        width: fit-content;
                                        position: relative;
                                        &:hover{
                                            background-color: #1e59f1;
                                        }
                                        &::after{
                                            content: '•••';
                                            font-size: 20px;
                                            color: rgb(249 250 251 / 55%);
                                            position: absolute;
                                            top: 5px;
                                            right: -30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}